h1 {
    display: flex;
    justify-content: center;
}

div, .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}